# Python
__pycache__/
*.py[cod]
*.so
.pytest_cache/
*.egg-info/
*.whl

# Virtual environments
venv/
env/
.venv/
tumh/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Sensitive files
.env
*.env
*.key
*.pem
secrets/

# Data and outputs
data/
outputs/
logs/
*.bak
*.tmp
*.log

# FastAPI/Streamlit/CrewAI/Web scraping
.streamlit/
*.pid
*.cache
scrapy/
*.html

# Editor/IDE
.vscode/
.idea/
*.code-workspace

# Dependency management
*.lock

# Testing and coverage
.coverage
coverage.xml
htmlcov/
*.cover

# Miscellaneous
*.swp
*.swo

# Jupyter Notebooks
*.ipynb
.ipynb_checkpoints/

# Node.js frontend
node_modules/
dist/
build/
IJCRT2312674.pdf



/Users/karthikgudibanda/Desktop/tumHACK/frontend/src/services/config.js